@model IEnumerable<EasyAssetManagerCore.Models.EntityModel.AccountOpeningReq>
@{
    Layout = null;
}
@if (Model != null && Model.Any())
{
    <table class="table table-striped table-bordered table-hover dataTables-example table-responsive" id="tb-accreq">
        <thead>
            <tr>
                <th>Ref No</th>
                <th>Account Type</th>
                <th>Single/Joint</th>
                <th>No of Customer</th>
                <th> Account Name</th>
                <th> Check Book</th>
                <th> Debit Card</th>
                <th> Acc No</th>
                <th> Acc Name(UBS)</th>
                <th> Acc Open Date</th>
                <th> Remarks</th>
                <th> Request By</th>
                <th> Request Date</th>
                <th> Update</th>
                <th> Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var v in Model)
            {
                <tr>
                    <td>@v.ac_reg_slno</td>
                    <td>@v.ac_customer_type_desc</td>
                    <td>@v.joint_desc </td>
                    <td>@v.no_of_customer</td>
                    <td>@v.ac_name</td>
                    <td>
                        @{
                            if (v.cheque_book == "Y")
                            { <span>Yes</span> }
                            else
                            { <span>No</span> }
                        }
                    </td>
                    <td>
                        @{
                            if (v.debit_card == "Y")
                            { <span>Yes</span> }
                            else
                            { <span>No</span> }
                        }
                    </td>
                    <td>@v.cust_ac_no</td>
                    <td>@v.ac_desc</td>
                    <td>@v.ac_open_date</td>
                    <td>@v.remarks</td>
                    <td>@v.ins_by</td>
                    <td>@v.ins_date</td>
                    <td>
                        <button type="button" class="btn btn-success gridButton" onclick="showUpdatedata('@v.ac_reg_slno','@v.ac_customer_type_desc','@v.joint_desc','@v.no_of_customer','@v.ac_name','@v.cheque_book','@v.debit_card','@v.remarks');" data-id="@v.ac_reg_slno">
                            <i class="fa fa-edit"></i>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger gridButton" onclick="showDeleteDatadata('@v.ac_reg_slno','@v.ac_name');" data-id="@v.ac_reg_slno">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No record found.</p>
}
<div class="modal fade" id="updateData" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Record</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="col-form-label">Ref No.</label>
                        <input type="text" id="ac_reg_slno" name="ac_reg_slno" class="form-control form-element" readonly />

                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Account Type<span class="required">*</span></label>
                        <select class="form-control form-element" id="ac_customer_type" name="ac_customer_type" data-validation="alphanumeric" data-validation-error-msg="Select Account Type to continue">
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Operating Mode<span class="required">*</span></label>
                        <select class="form-control form-element" id="joint_ac_indicator" name="joint_ac_indicator" data-validation-error-msg="Select Operating Mode to continue" data-validation="alphanumeric">
                        </select>
                    </div>
                    <div class="form-group">
                        <label>No of Customer<span class="required">*</span></label>
                        <input type="text" id="no_of_customer" name="no_of_customer" class="form-control form-element"
                               data-validation="number" data-validation-length="1-6" data-validation-error-msg="Enter valid number of customer to continue" />
                    </div>
                    <div class="form-group">
                        <label>Account Name<span class="required">*</span></label>
                        <input type="text" id="ac_name" name="ac_name" class="form-control form-element" data-validation-length="1-50" data-validation-error-msg="Enter account name to continue" data-validation="alphanumeric" />
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Check Book</label>
                        <div class="form-check-inline">
                            <label class="form-check-label" for="cheque_bookYes">
                                <input type="radio" class="form-check-input form-element" id="cheque_bookYes" name="cheque_book" value="Yes" checked> Yes
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label" for="cheque_bookNo">
                                <input type="radio" class="form-check-input form-element" id="cheque_bookNo" name="cheque_book" value="No"> No
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Debit Card</label>
                        <div class="form-check-inline">
                            <label class="form-check-label" for="debit_cardYes">
                                <input type="radio" class="form-check-input form-element" id="debit_cardYes" name="debit_card" value="Yes" checked>Yes
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label" for="debit_cardNo">
                                <input class="form-check-input form-element" type="radio" name="debit_card" id="debit_cardNo" value="No">No
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">Remarks</label>
                        <textarea id="remarks" name="remarks" class="form-control form-element"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <input type="button" value="Update" class="btn btn-primary ks-next" onclick="classServiceRequestSearch.Updatedata()" id="btnUpdate">
                <input type="button" value="Close" class="btn btn-danger ks-next" data-dismiss="modal" id="btnClose">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="DeleteData" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Record</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="col-form-label">Ref No.</label>
                        <input type="text" id="del_ac_reg_slno" name="del_ac_reg_slno" class="form-control form-element" readonly />
                    </div>
                    <div class="form-group">
                        <label>Account Name</label>
                        <input type="text" id="del_ac_name" name="del_ac_name" class="form-control form-element" data-validation-length="1-50" data-validation-error-msg="Enter account name to continue" data-validation="alphanumeric" readonly />
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Delete Reason<span class="required">*</span></label>
                        <textarea id="del_reason" name="del_reason" class="form-control form-element" data-validation-error-msg="Enter reason to continue" data-validation="alphanumeric"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <input type="button" value="Delete" class="btn btn-primary ks-next" onclick="deleteReq()" id="btnDelete">
                <input type="button" value="Close" class="btn btn-danger ks-next" data-dismiss="modal" id="btnDeleteClose">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        combo.getAccountType('ac_customer_type', true);
        combo.getOperatingMode('joint_ac_indicator', true);
        ApplicationCommon.makePagination("tb-accreq");
        var rowCount = $('#tb-accreq >tbody >tr').length;
        if (rowCount > 0) {
            $("#sidebarCollapse").addClass('fa-chevron-down').removeClass('fa-chevron-up');
            $("#divsidebarCollapse").addClass('border-bottom');
            $('#sidebarContent').css('display', 'none');            
        }
    });
    function showDeleteDatadata(ac_reg_slno, ac_name) {
        $('#DeleteData').modal('show');
        $("#del_ac_reg_slno").val(ac_reg_slno);
        $("#del_ac_name").val(ac_name);
        $("#del_reason").val('');
    }
    function deleteReq() {
        var reason = $("#del_reason").val();
        var ac_reg_slno = $("#del_ac_reg_slno").val();
        if (reason != '') {
            var formData = new FormData();
            formData.append("ac_reg_slno", ac_reg_slno);
            formData.append("reason", reason);
            var url = '/SearchAccountOpeningReq/DelAccountOpeningRequest';
            ApplicationCommon.request(url, 'POST', formData, false, true, false, function (res) {
                ApplicationCommon.showNotification(res.messageType, res.messageString);
                if (res.messageType == 1) {
                    $(".modal-backdrop").remove();
                    classServiceRequestSearch.searchInitiate();
                }
            });
        }
        else {
            ApplicationCommon.showNotification("Error","Enter Delete reason to continue.");
        }
    }
    function showUpdatedata(ac_reg_slno, ac_customer_type_desc, joint_desc, no_of_customer, ac_name, cheque_book, debit_card, remarks) {
        $('#updateData').modal('show');
        $("#ac_reg_slno").val(ac_reg_slno);
        $("#ac_customer_type option:contains(" + ac_customer_type_desc + ")").attr("selected", true);
        $("#joint_ac_indicator option:contains(" + joint_desc + ")").attr("selected", true);
        $("#no_of_customer").val(no_of_customer);
        $("#ac_name").val(ac_name);
        cheque_book == "Y" ? $("#cheque_bookYes").attr('checked', true) : $("#cheque_bookNo").attr('checked', true);
        debit_card == "Y" ? $("#debit_cardYes").attr('checked', true) : $("#debit_cardNo").attr('checked', true);
        $("#remarks").val(remarks);
    };
   
</script>

