@model IEnumerable<EasyAssetManagerCore.Models.EntityModel.TransactionDetails>
@{
    Layout = null;
}
    <div class="table-responsive">
        @if (Model != null && Model.Any())
        {
            <table class="table table-striped table-bordered table-hover dataTables-example table-responsive" id="tb-accreq">
                <thead>
                    <tr>
                        <th>Trans. Type</th>
                        <th>Trans. No.</th>
                        <th>Branch Code</th>
                        <th>Account No</th>
                        <th>Amount</th>
                        <th>Service Charge</th>
                        <th>VAT on Service Charge</th>
                        <th>Total Amount</th>
                        <th>Customer Amount</th>
                        <th>Transaction User</th>
                        <th>Transaction Date</th>
                        <th>Print</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var v in Model)
                    {
                        <tr>
                            <td>@v.trans_desc</td>
                            <td>@v.trans_id</td>
                            <td>@v.branch_code </td>
                            <td>@v.cust_ac_no</td>
                            <td>@v.amount</td>
                            <td>@v.charge</td>
                            <td>@v.charge_vat</td>
                            <td>@v.tot_amount</td>
                            <td>@v.cust_amount</td>
                            <td>@v.ins_by</td>
                            <td>@v.ins_date</td>
                            <td>
                                <a href="/SearchAgentTransaction/PrintTransactionSlip?trans_id=@v.trans_id" target="_blank" class="btn btn-success btnPrint gridButton"> <i class="fa fa-print"></i></a>                                
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No record found.</p>
        }
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".btnPrint").printPage();
            ApplicationCommon.makePagination("tb-accreq");           

            var rowCount = $('#tb-accreq >tbody >tr').length;
            if (rowCount > 0) {
                $("#sidebarCollapse").addClass('fa-chevron-down').removeClass('fa-chevron-up');
                $("#divsidebarCollapse").addClass('border-bottom');
                $('#contentCollapse').css('display', 'none');
            }
        });
        
    </script>

