@model EasyAssetManagerCore.Models.EntityModel.TransactionDetails
@{
    Layout = "";
 var appSession = ViewBag.Session as EasyAssetManagerCore.Model.CommonModel.AppSession;

}
<html>
<head runat="server">
    <title></title>
    <style type="text/css">
        body {
            margin: 0mm;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 11px;
        }

        .print_area {
            float: left;
            width: 280mm;
            margin-left: 35mm;
        }

        .print_header {
            width: 100%;
            float: left;
            margin-top: 7mm;
        }

            .print_header span {
                margin-left: 80mm;
            }

        .print_left {
            width: 205mm;
            float: left;
            margin-top: 7.5mm;
            line-height: 3.9;
        }

        .print_right {
            float: left;
            width: 70mm;
            margin-top: -10px;
            line-height: 2;
        }

        .float_left {
            clear: both;
            float: left;
        }

        .print_right_add {
            float: left;
            width: 70mm;
            margin-top: 90px;
            margin-left: -100px;
            font-size: 13px;
            line-height: 2;
        }
    </style>
</head>

<body class="receipt">
    @if (Model != null)
    {
        string header = "";
        switch (Model.trans_type)
        {
            case "01": header = "Deposit"; break;
            case "02": header = "Withdraw"; break;
            case "03": header = "Bill Payment Cash"; break;
            case "04": header = "Bill Payment Account"; break;
            case "05": header = "Fund Transfer Within EBL"; break;
            case "06": header = "Fund Transfer Other Bank"; break;
            case "07": header = "Remittance"; break;
            default: header = ""; break;
        }

        <div class="print_area">
            <div class="print_header"><label>@header</label></div>
            <div class="print_left">
                <label>@System.DateTime.Now.ToString("dd-MMM-yyyy hh:mm:ss tt")</label><br />
                <label>@Model.trans_id</label><br />
                <label>@appSession.User.user_name</label><br />
                <label>@Model.cust_ac_desc</label><br />
                <label>@Model.cust_ac_no</label><br />
                <label>@Model.amount</label><br />
                <label>
                    Service Charge:
                    @{
                        if (Model.charge == null)
                        { <span>0</span>}
                        else
                        { <span>Model.charge</span>}
                    }
                </label><br />
                <label>
                    VAT on Service Charge:
                    @{
                        if (Model.charge_vat == null)
                        { <span>0</span>}
                        else
                        { <span>Model.charge_vat</span>}
                    }
                </label><br />
                <label>Total Amount:  @Model.tot_amount</label><br />
            </div>

            <div class="print_right">
                <label>@appSession.User.agent_name</label><br />
                <label>@appSession.User.outlet_name</label><br />
                <label style="width:64mm">@appSession.User.address</label><br />
            </div>

            <div class="print_right_add">
                @if (Model.trans_type == "01")
                {
                    <label>Bearer Type: @Model.bearer_desc</label><br />
                    if (Model.bearer_type == "02")
                    {
                        <label>Bearer CIF: @Model.bearer_ref_no</label><br />
                    }
                }

                @if (Model.trans_type == "05")
                {

                    <label>Beneficiary Account No: @Model.alt_ac_no</label><br />
                    <label>Beneficiary Title:@Model.alt_ac_desc</label><br />
                }

                @if (Model.trans_type == "07")
                {
                    //TODO: Sender Name & Sender Country
                    <label>Sender’s Name: @Model.remit_sender_name</label><br />
                    <label>Sender’s Country: @Model.remit_sender_country</label><br />
                }

            </div>
        </div>
    }
</body>
</html>

