@model IEnumerable<EasyAssetManagerCore.Models.EntityModel.AgentOutlet>
@{
    Layout = null;
}
@if (Model != null && Model.Any())
{
    <table class="table table-striped table-bordered table-hover dataTables-example table-responsive" id="tb-agentOutletAuthorize" width="100%">
        <thead>
            <tr>
                <th>Agent ID</th>
                <th>Agent Name</th>
                <th>Outlet ID</th>
                <th>Outlet Name</th>
                <th>Outlet Branch</th>
                <th>Outlet Account</th>
                <th>Address</th>
                <th>Contact Person</th>
                <th>Contact mobile</th>
                <th>Ins By</th>
                <th>Ins Date</th>
                <th>Authorize</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var v in Model)
            {
            <tr>
                <td>@v.AGENT_USR_ID</td>
                <td>@v.AGENT_NAME</td>
                <td>@v.OUTLET_ID</td>
                <td>@v.OUTLET_NAME</td>
                <td>@v.BRANCH_CODE</td>
                <td>@v.CUST_AC_NO</td>
                <td>@v.ADDRESS</td>
                <td>@v.CONTACT_NAME</td>
                <td>@v.CONTACT_MOBILE</td>
                <td>@v.INS_BY</td>
                <td>@v.INS_DATE</td>
                @if(string.IsNullOrEmpty(v.AUTH_DATE))
                {
                    <td>
                        <button type="button" class="btn btn-success gridButton" onclick="classAuthorizeAgentOutlet.view('@v.AGENT_ID','@v.OUTLET_ID','@v.OUTLET_NAME');" data-id="@v.OUTLET_ID">
                            <i class="fa fa-check"></i>
                        </button>
                    </td>
                }
                else
                {
                    <td></td>
                }
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No record found.</p>
}


<script type="text/javascript">
      $(document).ready(function () {
          ApplicationCommon.makePagination('tb-agentOutletAuthorize');
    });

</script>