@model EasyAssetManagerCore.Models.EntityModel.AgentOutlet
@{
    ViewData["Title"] = "AgentOutlet Authorize Preview";
}

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">

            <div class="ibox">
                <div class="ibox-title">
                    <h5> Agent Outlet Details</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="agentSetup">
                                <div class="col-lg-12" style="border:solid 1px;">
                                    <div class="form-group row">
                                        <div class="col-xl-12 ibox-heading">
                                            <h4 class="col-form-label"> Agent Outlet Details</h4>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <input type="hidden" id="AGENT_ID" name="AGENT_ID" class="form-control form-element" value="@Model.AGENT_ID" />
                                        <div class="col-xl-2">
                                            <label class="col-form-label">Agent ID:</label>
                                        </div>
                                        <div class="col-xl-3">
                                            <input type="text" id="AGENT_USR_ID" name="AGENT_USR_ID" class="form-control form-element" value="@Model.AGENT_USR_ID" readonly />
                                        </div>
                                        <div class="col-xl-2">
                                            <label class="col-form-label">Agent Name:</label>
                                        </div>
                                        <div class="col-xl-3">
                                            <input type="text" id="AGENT_NAME" name="AGENT_NAME" class="form-control form-element" value="@Model.AGENT_NAME" readonly />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xl-2">
                                            <label class="col-form-label">Outlet ID:</label>
                                        </div>
                                        <div class="col-xl-3">
                                            <input type="text" id="OUTLET_ID" name="OUTLET_ID" class="form-control form-element" value="@Model.OUTLET_ID" readonly />
                                        </div>
                                        <div class="col-xl-2">
                                            <label class="col-form-label">Outlet Name:</label>
                                        </div>
                                        <div class="col-xl-3">
                                            <input type="text" id="OUTLET_NAME" name="OUTLET_NAME" class="form-control form-element" value="@Model.OUTLET_NAME" readonly />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xl-2">
                                            <label class="col-form-label">Branch:</label>
                                        </div>
                                        <div class="col-xl-3">
                                            <input type="text" id="BRANCH_CODE" name="BRANCH_CODE" class="form-control form-element" value="@Model.BRANCH_CODE" readonly />
                                        </div>
                                        <div class="col-xl-2">
                                            <label class="col-form-label">Account:</label>
                                        </div>
                                        <div class="col-xl-3">
                                            <input class="form-control form-element" type="text" id="CUST_AC_NO" name="CUST_AC_NO" value="@Model.CUST_AC_NO" readonly />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xl-2">
                                            <label class="col-form-label">Address:</label>
                                        </div>
                                        <div class="col-xl-3">
                                            <input class="form-control form-element" type="text" id="ADDRESS" name="ADDRESS" value="@Model.ADDRESS" readonly />
                                        </div>
                                        <div class="col-xl-2">
                                            <label class="col-form-label">Contact Person:</label>
                                        </div>
                                        <div class="col-xl-3">
                                            <input class="form-control form-element" type="text" id="CONTACT_NAME" name="CONTACT_NAME" value="@Model.CONTACT_NAME" readonly/>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xl-2">
                                            <label class="col-form-label">Contact Mobile:</label>
                                        </div>
                                        <div class="col-xl-3">
                                            <input class="form-control form-element" type="text" id="CONTACT_MOBILE" name="CONTACT_MOBILE" value="@Model.CONTACT_MOBILE" readonly />
                                        </div>
                                        <div class="col-xl-2">
                                            <label class="col-form-label">Created By:</label>
                                        </div>
                                        <div class="col-xl-3">
                                            <input class="form-control form-element" type="text" id="INS_BY" name="INS_BY" value="@Model.INS_BY" readonly />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xl-2">
                                            <label class="col-form-label">Created Time:</label>
                                        </div>
                                        <div class="col-xl-3">
                                            <input class="form-control form-element" type="text" id="INS_DATE" name="INS_DATE" value="@Model.INS_DATE" readonly />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xl-8"></div>
                                        <div class="col-xl-1">
                                            <input type="button" value="Authorize Agent Outlet" class="btn btn-primary ks-next" id="btnConfirm">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <script type="text/javascript">
        var classAuthorizeAgentOutletPreview = function ()
        {
            var init = function ()
            {
                eventInitializer();
            };
            var eventInitializer = function ()
            {
                $('#btnConfirm').click(authorizeAgentOutlet);
            };

            var authorizeAgentOutlet = function ()
            {
                if ($('#OUTLET_ID').val()) {
                var formData = new FormData();
                formData.append("agent_id", $('#AGENT_ID').val());
                formData.append("outlet_id", $('#OUTLET_ID').val());
                var url = '/Agent/AuthorizeAgent';
                ApplicationCommon.request(url, 'POST', formData, false, true, false, function (res)
                {
                    ApplicationCommon.showNotification(res.messageType, res.messageString);
                    if (res.messageType == 1)
                    {
                        ApplicationCommon.clearFields();
                    }
                });
                } else {
                    ApplicationCommon.showNotification("2", "Agent outlet already authorize.");
                }
            };
            return { init: init };
        }();

        classAuthorizeAgentOutletPreview.init();
    </script>
}


