@model IEnumerable<EasyAssetManagerCore.Models.EntityModel.SettingsUsers>
@{
    Layout = null;
}
@if (Model != null && Model.Any())
{
    <table class="table table-striped table-bordered table-hover dataTables-example table-responsive" id="tb-resetPasswordRequest" width="100%">
        <thead>
            <tr>
                <th class="removeSorting"><input type="checkbox" id="UserChkAll" name="UserChkAll" /></th>
                <th>SL No.</th>
                <th>User Type</th>
                <th>User ID</th>
                <th class="collapse">Reset Code</th>
                <th>User Name</th>
                <th>Reset Reason</th>
                <th>Request By</th>
                <th>Request Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var v in Model)
            {
                <tr>
                    <td><input type="checkbox" id="UserChk" name="UserChk" class="innerCheck" /></td>
                    <td>@v.rst_slno</td>
                    <td>@v.user_desc</td>
                    <td>@v.user_id</td>
                    <td class="collapse">@v.reset_code</td>
                    <td>@v.user_name</td>
                    <td>@v.rst_reason </td>
                    <td>@v.req_by</td>
                    <td>@v.req_date</td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <p>No record found.</p>
}

<script type="text/javascript">
    $(document).ready(function () {
        ApplicationCommon.makePagination('tb-resetPasswordRequest');
        $("#UserChkAll").click(function () {
            var checkAll = $("#UserChkAll").prop('checked');
            if (checkAll) {
                $(".innerCheck").prop("checked", true);
            } else {
                $(".innerCheck").prop("checked", false);
            }
        });
        $(".innerCheck").click(function () {
            if ($(".innerCheck").length == $(".innerCheck:checked").length) {
                $("#UserChkAll").prop("checked", true);
            } else {
                $("#UserChkAll").prop("checked", false);
            }

        });
    });

</script>
