@model IEnumerable<EasyAssetManagerCore.Models.EntityModel.UserRole>
@{
    Layout = null;
}
@if (Model != null && Model.Any())
{
    <table class="table table-striped table-bordered table-hover table-responsive dataTables-example" id="tb-accassrole">
        <thead>
            <tr>
                @*<th class="removeSorting"><input name="select_all" value="1" id="select-assrole" type="checkbox" /></th>*@
                <th class="removeSorting"><input type="checkbox" id="UserChkAll" name="UserChkAll" /></th>
                <th>Role ID</th>
                <th>Role Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var v in Model)
            {
                var cl = "";
                if (v.status == "L") { cl = "background-color: red;"; }
                <tr style="@cl">
                    @*<td><input name="select" value="@v.rolE_ID" class="select-item" type="checkbox" /></td>*@
                    <td><input type="checkbox" value="@v.rolE_ID" id="UserChk" name="UserChk" class="usrinnerCheck" /></td>
                    <td>@v.rolE_ID</td>
                    <td>@v.ROLE_DESC</td>
                </tr>
            }
        </tbody>
    </table>
}
<script type="text/javascript">
    $(document).ready(function () {
        //ApplicationCommon.makePagination("tb-accassrole");
    });

    //$('#select-assrole').on('click', function () {
    //    // Check/uncheck all checkboxes in the table
    //    $('input:checkbox').not(this).prop('checked', this.checked);
    //});

    $("#UserChkAll").click(function () {
        var checkAll = $("#UserChkAll").prop('checked');
        if (checkAll) {
            $(".usrinnerCheck").prop("checked", true);
        } else {
            $(".usrinnerCheck").prop("checked", false);
        }
    });
    $(".usrinnerCheck").click(function () {
        if ($(".usrinnerCheck").length == $(".usrinnerCheck:checked").length) {
            $("#UserChkAll").prop("checked", true);
        } else {
            $("#UserChkAll").prop("checked", false);
        }
    });

</script>

