@model IEnumerable<EasyAssetManagerCore.Models.EntityModel.UserRole>
@{
    Layout = null;
}
@if (Model != null && Model.Any())
{
    <table class="table table-striped table-bordered table-hover table-responsive dataTables-example" id="tb-accfreerole">
        <thead>
            <tr>
                @*<th class="removeSorting"><input name="select_all" value="1" id="select-freerole" type="checkbox" /></th>*@
                <th class="removeSorting"><input type="checkbox" id="FreeRolChkAll" name="FreeRolChkAll" /></th>
                <th>Role ID</th>
                <th>Role Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var v in Model)
            {
                var cl = "";
                if (v.status == "L") { cl = "background-color: red;"; }
            <tr style="@cl">
                @*<td><input name="select" value="@v.rolE_ID" class="select-item" type="checkbox" /></td>*@
                <td><input type="checkbox" value="@v.rolE_ID" id="FreeRolChk" name="FreeRolChk" class="freeinnerCheck" /></td>
                <td>@v.rolE_ID</td>
                <td>@v.ROLE_DESC</td>
            </tr>
            }
        </tbody>
    </table>
}
<script type="text/javascript">
    $(document).ready(function () {
        //ApplicationCommon.makePagination("tb-accfreerole");
    });

    //$('#select-freerole').on('click', function () {
    //    // Check/uncheck all checkboxes in the table
    //    $('input:checkbox').not(this).prop('checked', this.checked);
    //});

    $("#FreeRolChkAll").click(function () {
        var checkAll = $("#FreeRolChkAll").prop('checked');
        if (checkAll) {
            $(".freeinnerCheck").prop("checked", true);
        } else {
            $(".freeinnerCheck").prop("checked", false);
        }
    });
    $(".freeinnerCheck").click(function () {
        if ($(".freeinnerCheck").length == $(".freeinnerCheck:checked").length) {
            $("#FreeRolChkAll").prop("checked", true);
        } else {
            $("#FreeRolChkAll").prop("checked", false);
        }
    });
</script>
