@{
    Layout = "";
    var appSession = ViewBag.Session as EasyAssetManagerCore.Model.CommonModel.AppSession;

}
<html>
<head runat="server">
    <title></title>
    <style type="text/css">
        body {
            margin: 0mm;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 11px;
        }

        .print_area {
            float: left;
            width: 280mm;
            margin-left: 35mm;
        }

        .print_header {
            width: 100%;
            float: left;
            margin-top: 7mm;
        }

            .print_header span {
                margin-left: 80mm;
            }

        .print_left {
            width: 205mm;
            float: left;
            margin-top: 7.5mm;
            line-height: 3.9;
        }

        .print_right {
            float: left;
            width: 70mm;
            margin-top: -10px;
            line-height: 2;
        }

        .float_left {
            clear: both;
            float: left;
        }

        .print_right_add {
            float: left;
            width: 70mm;
            margin-top: 90px;
            margin-left: -100px;
            font-size: 13px;
            line-height: 2;
        }
    </style>
</head>

<body class="receipt">
    @if (appSession != null && appSession.TransactionSession != null && appSession.TransactionSession.UbsTransactionRefNo != null)
    {
        string header = "";
        switch (appSession.TransactionSession.TransactionType)
        {
            case "01": header = "Deposit"; break;
            case "02": header = "Withdraw"; break;
            case "03": header = "Bill Payment Cash"; break;
            case "04": header = "Bill Payment Account"; break;
            case "05": header = "Fund Transfer Within EBL"; break;
            case "06": header = "Fund Transfer Other Bank"; break;
            case "07": header = "Remittance"; break;
            default: header = ""; break;
        }

        <div class="print_area">
            <div class="print_header"><label>@header</label></div>
            <div class="print_left">
                <label>@System.DateTime.Now.ToString("dd-MMM-yyyy hh:mm:ss tt")</label><br />
                <label>@appSession.TransactionSession.TransactionID</label><br />
                <label>@appSession.User.user_name</label><br />
                <label>@appSession.TransactionSession.CustomerName</label><br />
                <label>@appSession.TransactionSession.BillRef</label><br />
                <label>@((Convert.ToDecimal(appSession.TransactionSession.TransactionAmount) + Convert.ToDecimal(appSession.TransactionSession.TransactionVatAmount)).ToString())</label><br />

            </div>

            <div class="print_right">
                <label>@appSession.User.agent_name</label><br />
                <label>@appSession.User.outlet_name</label><br />
                <label style="width:64mm">@appSession.User.address</label><br />
            </div>

            <div class="print_right_add">
                <label>Bill Month:      @appSession.TransactionSession.TransactionDate</label><br />
                <label>Service Charge:  @appSession.TransactionSession.TransactionCharge</label><br />

            </div>
        </div>
    }
</body>
</html>

