@model IEnumerable<EasyAssetManagerCore.Models.EntityModel.UserRole>
@{
    Layout = null;
}
@if (Model != null && Model.Any())
{
    <table class="table table-striped table-bordered table-hover dataTables-example table-responsive" id="tb-accroleauth">
        <thead>
            <tr>
                @*<th><input name="select_all" value="1" id="select-all" type="checkbox" /></th>*@
                <th class="removeSorting"><input type="checkbox" id="UserChkAll" name="UserChkAll" /></th>
                <th>SL No.</th>
                <th>User Type</th>
                <th>User ID</th>
                <th>User Name</th>
                <th>Role ID</th>
                <th>Role Desc</th>
                <th>Created By</th>
                <th>Created Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var v in Model)
            {
            <tr>
                @*<td><input name="select" value="@v.role_slno" id="select+@v.role_slno" class="select-item" type="checkbox" /></td>*@
                <td><input type="checkbox" value="@v.role_slno" id="UserChk" name="UserChk" class="innerCheck" /></td>
                <td>@v.role_slno</td>
                <td>@v.user_desc</td>
                <td>@v.user_id</td>
                <td>@v.user_name </td>
                <td>@v.rolE_ID</td>
                <td>@v.ROLE_DESC</td>
                <td>@v.ins_by</td>
                <td>@v.ins_date</td>
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No record found.</p>
}
<script type="text/javascript">
    $(document).ready(function () {
        //ApplicationCommon.makePagination("tb-accroleauth");
        ApplicationCommon.makePagination('tb-accroleauth');
        $("#UserChkAll").click(function () {
            var checkAll = $("#UserChkAll").prop('checked');
            if (checkAll) {
                $(".innerCheck").prop("checked", true);
            } else {
                $(".innerCheck").prop("checked", false);
            }
        });
        $(".innerCheck").click(function () {
            if ($(".innerCheck").length == $(".innerCheck:checked").length) {
                $("#UserChkAll").prop("checked", true);
            } else {
                $("#UserChkAll").prop("checked", false);
            }

        });
    });

    //$('#select-all').on('click', function () {
    //    $('input:checkbox').not(this).prop('checked', this.checked);
    //});

   
</script>

