@model IEnumerable<EasyAssetManagerCore.Models.EntityModel.RM>
@{
    Layout = null;
}

@if (Model != null && Model.Any())
{
<table class="table table-striped table-bordered table-hover dataTables-example table-responsive" id="tb-accreq">
    <thead>
        <tr>
            <th>Branch Code</th>
            <th>Branch</th>
            <th>RM Code</th>
            <th>Employee Name</th>
            <th>Designation</th>
            <th>Category</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Emp Category</th>
            <th>Update Status</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var v in Model)
            {
        <tr>
            <td>@v.branch_code</td>
            <td>@v.branch_name</td>
            <td>@v.rm_code </td>
            <td>@v.emp_name</td>
            <td>@v.desig_name</td>
            <td>@v.cat_desc</td>
            <td>@v.email</td>
            <td>@v.mobile</td>
            <td>@v.emp_cat</td>
            <td>
                <button type="button" class="btn btn-success gridButton" onclick="showUpdatedata('@v.rm_code','@v.emp_name','@v.branch_code','@v.branch_name','@v.emp_id');" data-id="@v.emp_id">
                    <i class="fa fa-save"></i>
                </button>
            </td>
            <td>
                <a href="@Url.Action("GetRMDetail","RM",new { emp_id=v.emp_id})" target="_blank" class="btn btn-success gridButton" data-id="@v.emp_id"><i class="fa fa-edit"></i></a>

                @*<button type="button" class="btn btn-success gridButton" onclick="showUpdatedata('@v.ac_reg_slno','@v.ac_customer_type_desc','@v.joint_desc','@v.no_of_customer','@v.ac_name','@v.cheque_book','@v.debit_card','@v.remarks');" data-id="@v.ac_reg_slno">
                        <i class="fa fa-edit"></i>
                    </button>*@
            </td>
        </tr>
            }
    </tbody>
</table>
}
else
{
<p>No record found.</p>
}
<div class="modal fade" id="updateData" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update RM Status</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <div class="col-lg-3">
                            <label class="col-form-label">Employee ID</label>
                        </div>
                        <div class="col-lg-8">
                            <input type="text" id="emp_id" name="emp_id" class="form-control form-element" readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-3">
                            <label class="col-form-label">RM Code<span class="required">*</span></label>
                        </div>
                        <div class="col-lg-8">
                            <input type="text" id="rm_code" name="rm_code" class="form-control form-element" readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-3">
                            <label class="col-form-label">Employee Name</label>
                        </div>
                        <div class="col-lg-8">
                            <input type="text" id="emp_name" name="emp_name" class="form-control form-element" readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-3">
                            <label>Branch</label>
                        </div>
                        <div class="col-lg-8">
                            <div class="input-group">
                                <input type="text" id="branch_code" name="branch_code" class="form-control form-element col-lg-2" readonly="readonly" />
                                <input type="text" id="branch_name" name="branch_name" class="form-control form-element col-lg-10" readonly="readonly" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <hr />
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-3">
                            <label class="col-form-label">RM Status<span class="required">*</span></label>
                        </div>
                        <div class="col-lg-8">
                            <select id="status_code" name="status_code" class="form-control form-element required"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-3">
                            <label class="col-form-label">Effect Date<span class="required">*</span></label>
                        </div>
                        <div class="col-lg-8">
                            <div class="input-group date">
                                <input class="form-control form-element required" type="text" id="effect_date" name="effect_date" placeholder="dd/mm/yyyy" data-mask="99/99/9999">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-3">
                            <label class="col-form-label" id="rmCodeAction">New RM Code</label>
                        </div>
                        <div class="col-lg-8">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" id="new_rm_code" name="new_rm_code" class="form-control form-element required col-lg-3" />
                                    <select id="new_rm" name="new_rm" class="form-control form-element col-lg-9" onchange="setRmCode(this)"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" id="trBranchPop">
                        <div class="col-lg-3">
                            <label class="col-form-label">New Branch<span class="required">*</span></label>
                        </div>
                        <div class="col-lg-8">
                            <select id="new_branch_code" name="new_branch_code" class="form-control form-element required"></select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <input type="button" value="Update" class="btn btn-primary ks-next" onclick="classSearchRMDetails.Updatedata()" id="btnUpdate">
                <input type="button" value="Close" class="btn btn-danger ks-next" data-dismiss="modal" id="btnClose">
            </div>
        </div>
    </div>
</div>


    <script type="text/javascript">
    $(document).ready(function () {
        combo.getRMStatusList('status_code', '@Url.Content("~/Common/GetRMStatusList")', true,"Select");
        combo.getBranchList('new_branch_code', '@Url.Content("~/Common/GetBranchList")', '', true,"Select");
        combo.getRmList('new_rm', '@Url.Content("~/Common/GetRmList")', {}, true);

        $('.input-group.date').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true,
            format: 'dd/mm/yyyy',
        });
        ApplicationCommon.makePagination("tb-accreq");
        var rowCount = $('#tb-accreq >tbody >tr').length;
        if (rowCount > 0) {
            $("#sidebarCollapse").addClass('fa-chevron-down').removeClass('fa-chevron-up');
            $("#divsidebarCollapse").addClass('border-bottom');
            $('#sidebarContent').css('display', 'none');
        }

        $("#trBranchPop").hide();
    });
    function showUpdatedata(rm_code, emp_name, branch_code, branch_name, emp_id) {
        $('#updateData').modal('show');
        $("#rm_code").val(rm_code);
        $("#emp_name").val(emp_name);
        $("#branch_code").val(branch_code);
        $("#branch_name").val(branch_name);
        $("#emp_id").val(emp_id);
        clearField();
        $('#status_code').prop('selectedIndex', 0);
    }
    function setRmCode(e) {
        $("#new_rm_code").val(e.value);
    }
    $('#new_rm_code').keyup(function (event) {
        if (event.keyCode == '13') {
            event.preventDefault();
        }
        $("#new_rm").selectedIndex = 0;
        var rm_code = $('#new_rm_code').val();
        $("#new_rm").val(rm_code);
    });

        $('#status_code').change(function () {
        clearField();
        if ($("#status_code").val() === "01") {
            $('#rmCodeAction').text('Customer Re Assigned RM');
            $("#trBranchPop").show();
        }
        else if ($("#status_code").val() === "02") {
            $('#rmCodeAction').text('Customer Re Assigned RM');
            $("#trBranchPop").hide();
        }
        else if ($("#status_code").val() === "03") {
            $('#rmCodeAction').text('Updated RM Code');
            $("#trBranchPop").hide();
            $("#new_rm").hide();
        }
    });
        function clearField() {
            $("#new_rm").show();
        $("#effect_date").val('');
        $("#new_rm_code").val('');
        $('#new_branch_code').prop('selectedIndex', 0);
        $('#new_rm').prop('selectedIndex', 0);

    }

    </script>
