@model IEnumerable<EasyAssetManagerCore.Models.EntityModel.AST_LOAN_WO_STATUS_TEMP>
@{
    Layout = null;
}
@if (Model != null && Model.Any())
{
    <table class="table table-striped table-bordered table-hover dataTables-example table-responsive" id="tb-wolist" width="100%">
        <thead>
            <tr>
                <th>SEG_ID</th>
                <th>SEG_NAME</th>
                <th>AREA_CODE</th>
                <th>AREA_NAME</th>
                <th>BRANCH_CODE</th>
                <th>BRANCH_NAME</th>
                <th>PRODUCT_CODE</th>
                <th>PRODUCT_DESC</th>
                <th>LOAN_AC_NUMBER</th>
                <th>OS_AMOUNT</th>
                <th>WO_AMOUNT</th>
                <th>WO_DATE</th>
                <th>INS_BY</th>
                <th>INS_DATE</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var v in Model)
            {
            <tr>
                <td>@v.SEG_ID</td>
                <td>@v.SEG_NAME</td>
                <td>@v.AREA_CODE</td>
                <td>@v.AREA_NAME</td>
                <td>@v.BRANCH_CODE</td>
                <td>@v.BRANCH_NAME</td>
                <td>@v.PRODUCT_CODE</td>
                <td>@v.PRODUCT_DESC</td>
                <td>@v.LOAN_AC_NUMBER</td>
                <td>@v.OS_AMOUNT</td>
                <td>@v.WO_AMOUNT</td>
                <td>@v.WO_DATE</td>
                <td>@v.INS_BY</td>
                <td>@v.INS_DATE</td>
                <td>

                    <a href="@Url.Action("Index","LoanWo",new {loanNumber= v.LOAN_AC_NUMBER})" class="btn btn-success gridButton"> <i class="fa fa-edit"></i></a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No record found.</p>
}

<script type="text/javascript">
    $(document).ready(function () {
       // ApplicationCommon.makePagination('tb-wolist');
    });

</script>