@model IEnumerable<EasyAssetManagerCore.Models.EntityModel.UserRole>
@{
    Layout = null;
}
@if (Model != null && Model.Any())
{
    <table class="table table-striped table-bordered table-hover dataTables-example table-responsive" id="tb-userRole">
        <thead>
            <tr>
                <th>ROLE ID</th>
                <th>ROLE DESC</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var v in Model)
            {
                <tr>
                    <td>@v.rolE_ID</td>
                    <td>@v.ROLE_DESC</td>
                    <td>
                        <button type="button" class="btn btn-success gridButton" onclick="classRoleSetup.edit('@v.rolE_ID')" data-id="@v.rolE_ID">
                            <i class="fa fa-edit"></i>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger gridButton" onclick="classRoleSetup.deleteData('@v.rolE_ID','@v.ROLE_DESC')" data-id="@v.rolE_ID">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No record found.</p>
}

<script type="text/javascript">
    $(document).ready(function () {
        ApplicationCommon.makePagination("tb-userRole");
    });

</script>

