@model IEnumerable<EasyAssetManagerCore.Models.EntityModel.User>
@{
    Layout = null;
}
@if (Model != null && Model.Any())
{
    <table class="table table-striped table-bordered table-hover dataTables-example table-responsive" id="tb-passemail" width="100%">
        <thead>
            <tr>
                <th class="collapse">SL No</th>
                <th>User ID</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Request By</th>
                <th>Request Date</th>
                <th>Reset By</th>
                <th>Reset Date</th>
                <th>Email Password</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var v in Model)
            {
                <tr>
                    <td class="collapse">@v.RST_SLNO</td>
                    <td>@v.USER_ID</td>
                    <td>@v.USER_NAME </td>
                    <td>@v.EMAIL</td>
                    <td>@v.PHONE</td>
                    <td>@v.REQ_BY</td>
                    <td>@v.REQ_DATE</td>
                    <td>@v.RST_BY</td>
                    <td>@v.RST_DATE</td>
                    <td>
                        <button type="button" class="btn btn-success" onclick="passwordSendViaEmail('@v.RST_SLNO','@v.USER_ID');" data-id="@v.RST_SLNO">
                            <i class="fa fa-send"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No record found.</p>
}
<script type="text/javascript">
    $(document).ready(function () {
        ApplicationCommon.makePagination("tb-passemail");
    });
    function passwordSendViaEmail(rst_slno, user_id) {
        if (confirm("Do you really want to email password for this user?(Yes/No)")) {
            var formData = new FormData();
            formData.append("rst_slno", rst_slno);
            formData.append("user_id", user_id);
            var url = '/AppUserPasswordEmail/EmailResetPassword';
            ApplicationCommon.request(url, 'POST', formData, false, true, false, function (res) {
                ApplicationCommon.showNotification(res.messageType, res.messageString);
                if (res.messageType == 1) {
                    classServiceRequestSearch.searchInitiate();
                }
            });
        }
    }
    
</script>

