@model IEnumerable<EasyAssetManagerCore.Models.EntityModel.LimitPackage>
@if (Model != null && Model.Any())
{
    <table class="table table-striped table-bordered table-hover dataTables-example table-responsive" id="tb-limitPackageList">
        <thead>
            <tr>
                <th>Package ID</th>
                <th>Package Name</th>
                <th>Remarks</th>
                <th>Created By</th>
                <th>Created Date</th>
                <th>Updated By</th>
                <th>Updated Date</th>
                <th>Authorized By</th>
                <th>Authorized Date</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var v in Model)
            {
            <tr>
                <td>@v.limit_id</td>
                <td>@v.limit_desc</td>
                <td>@v.remarks</td>
                <td>@v.ins_by</td>
                <td>@v.ins_date</td>
                <td>@v.upd_by </td>
                <td>@v.upd_date</td>
                <td>@v.auth_by</td>
                <td>@v.auth_date</td>
                <td>
                    <button type="button" class="btn btn-success gridButton" onclick="classLimitPackageList.viewdata('@v.limit_id');" data-id="@v.limit_id">
                        <i class="fa fa-eye"></i>
                    </button>
                </td>


                @if (string.IsNullOrEmpty(v.auth_date))
                {
                    <td>
                        <button type="button" class="btn btn-success gridButton" onclick="classLimitPackageList.editdata('@v.limit_id');" data-id="@v.limit_id">
                            <i class="fa fa-edit"></i>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger gridButton" onclick="classLimitPackageList.deletedata('@v.limit_id');" data-id="@v.limit_id">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                }
                else
                {
                    <td></td>
                    <td></td>
                }


            </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No record found.</p>
}


<script type="text/javascript">
      $(document).ready(function () {
      ApplicationCommon.makePagination('tb-limitPackageList');
    });

</script>