@model EasyAssetManagerCore.Models.EntityModel.LimitPackage
@{
    ViewData["Title"] = "Limit Package";
}

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">

            <div class="ibox">
                <div class="ibox-title">
                    <h5> Limit Package Setup</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="limitPackageSetup">
                                <div class="row form-group">
                                    <div class="col-lg-5">
                                        <div class="form-group row">
                                            <div class="col-xl-12">
                                                <h3 class="col-form-label">Limit Details</h3>
                                            </div>
                                        </div>
                                        <div class="form-group hr-line-dashed"> </div>
                                        <div class="form-group row">
                                            <input type="hidden" id="limit_id" name="limit_id" class="form-control form-element" value="@Model.limit_id" />
                                            <div class="col-xl-6">
                                                <label class="col-form-label">Package Name:<span class="required">*</span></label>
                                            </div>
                                            <div class="col-xl-6">
                                                <input type="text" id="limit_desc" name="limit_desc" class="form-control form-element required" value="@Model.limit_desc" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-xl-6">
                                                <label class="col-form-label">Remarks:</label>
                                            </div>
                                            <div class="col-xl-6">
                                                <input type="text" id="remarks" name="remarks" class="form-control form-element" value="@Model.remarks" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-xl-12">
                                                <h3 class="col-form-label"> Deposit Limit</h3>
                                            </div>
                                        </div>
                                        <div class="form-group hr-line-dashed"> </div>
                                        <div class="form-group row">
                                            <div class="col-xl-6">
                                                <label class="col-form-label">Maximum Allowed Transaction:<span class="required">*</span></label>
                                            </div>
                                            <div class="col-xl-6">
                                                <input type="text" id="maxtransno01" name="maxtransno01" class="form-control form-element required" value="@Model.maxtransno01" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-xl-6">
                                                <label class="col-form-label">Max Allowed Amount Per Transaction:<span class="required">*</span></label>
                                            </div>
                                            <div class="col-xl-6">
                                                <input type="text" id="maxtransamt01" name="maxtransamt01" class="form-control form-element required" value="@Model.maxtransamt01" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-xl-6">
                                                <label class="col-form-label">Total Allowed Amount:<span class="required">*</span></label>
                                            </div>
                                            <div class="col-xl-6">
                                                <input type="text" id="tottransamt01" name="tottransamt01" class="form-control form-element required" value="@Model.tottransamt01" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-xl-12">
                                                <h3 class="col-form-label">Fund Transfer Limit</h3>
                                            </div>
                                        </div>
                                        <div class="form-group hr-line-dashed"> </div>
                                        <div class="form-group row">
                                            <div class="col-xl-6">
                                                <label class="col-form-label">Maximum Allowed Transaction:</label>
                                            </div>
                                            <div class="col-xl-6">
                                                <input type="text" id="maxtransno05" name="maxtransno05" class="form-control form-element" value="@Model.maxtransno05" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-xl-6">
                                                <label class="col-form-label">Total Allowed Amount:</label>
                                            </div>
                                            <div class="col-xl-6">
                                                <input type="text" id="tottransamt05" name="tottransamt05" class="form-control form-element" value="@Model.tottransamt05" />

                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-xl-6">
                                                <label class="col-form-label">Max Allowed Amount Per Transaction:</label>
                                            </div>
                                            <div class="col-xl-6">
                                                <input type="text" id="maxtransamt05" name="maxtransamt05" class="form-control form-element" value="@Model.maxtransamt05" />
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="vertical-line vertical-line-border">
                                        </div>
                                    </div>
                                    <div class="col-lg-5">
                                        <div class="form-group row">
                                            <div class="col-xl-12">
                                                <h3 class="col-form-label"> Total Limit</h3>
                                            </div>
                                        </div>
                                        <div class="form-group hr-line-dashed"> </div>
                                        <div class="form-group row">
                                            <div class="col-xl-6">
                                                <label class="col-form-label">Maximum Allowed Transaction:<span class="required">*</span></label>
                                            </div>
                                            <div class="col-xl-6">
                                                <input type="text" id="maxtransno00" name="maxtransno00" class="form-control form-element required" value="@Model.maxtransno00" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-xl-6">
                                                <label class="col-form-label">Total Allowed Amount:<span class="required">*</span></label>
                                            </div>
                                            <div class="col-xl-6">
                                                <input type="text" id="tottransamt00" name="tottransamt00" class="form-control form-element required" value="@Model.tottransamt00" />

                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-xl-6">
                                                <label class="col-form-label">Max Allowed Amount Per Transaction:<span class="required">*</span></label>
                                            </div>
                                            <div class="col-xl-6">
                                                <input type="text" id="maxtransamt00" name="maxtransamt00" class="form-control form-element required" value="@Model.maxtransamt00" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-xl-12">
                                                <h3 class="col-form-label">Withdraw Limit</h3>
                                            </div>
                                        </div>
                                        <div class="form-group hr-line-dashed"> </div>
                                        <div class="form-group row">
                                            <div class="col-xl-6">
                                                <label class="col-form-label">Maximum Allowed Transaction:<span class="required">*</span></label>
                                            </div>
                                            <div class="col-xl-6">
                                                <input type="text" id="maxtransno02" name="maxtransno02" class="form-control form-element required" value="@Model.maxtransno02" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-xl-6">
                                                <label class="col-form-label">Total Allowed Amount:<span class="required">*</span></label>
                                            </div>
                                            <div class="col-xl-6">
                                                <input type="text" id="tottransamt02" name="tottransamt02" class="form-control form-element required" value="@Model.tottransamt02" />

                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-xl-6">
                                                <label class="col-form-label">Max Allowed Amount Per Transaction:<span class="required">*</span></label>
                                            </div>
                                            <div class="col-xl-6">
                                                <input type="text" id="maxtransamt02" name="maxtransamt02" class="form-control form-element required" value="@Model.maxtransamt02" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group hr-line-dashed"> </div>
                                <div class="row" id="btnBeforeSubmit">
                                        <div class="col-xl-1">
                                            <input type="button" value="Submit" class="btn btn-primary ks-next" id="btnSubmit">
                                    </div>
                                </div>
                                <div class="row" style="margin-top:10px;" id="btnAfterSubmit">
                                    <div class="col-xl-10"></div>
                                    <div class="col-xl-1">
                                        <input type="button" value="Confirm" class="btn btn-primary ks-next" id="btnConfirm">                                    
                                        <input type="button" value="Change" class="btn btn-primary ks-next" id="btnChange">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts {
    <script type="text/javascript">
        var classLimitSetup = function ()
        {
            var formId = "limitPackageSetup";
            var init = function ()
            {
                eventInitializer();
                validation(formId);
            };
            var eventInitializer = function ()
            {
                $('#btnSubmit').click(submitLimitPackage);
                $('#btnConfirm').click(confirmLimitPackage);
                $('#btnChange').click(changeLimitPackage);
                hideShow(true);
            };
            var submitLimitPackage = function ()
            {
                if (ApplicationCommon.isValidForm(formId))
                {
                    hideShow(false);

                }
            };
            var changeLimitPackage = function ()
            {
                hideShow(true);

            };
            var confirmLimitPackage = function ()
            {
                var limitPackage = ApplicationCommon.getData('form-element');
                var url = '/LimitPackage/SaveLimitPackage';
                ApplicationCommon.request(url, 'POST', limitPackage, false, true, false, function (res)
                {
                    ApplicationCommon.showNotification(res.messageType, res.messageString);

                    if (res.messageType == 1)
                    {
                        ApplicationCommon.clearFields();
                        hideShow(true);
                    }
                });
            };

            var validation = function (formId)
            {
                $('#' + formId).validate({
                    rules: {
                        limit_desc: {
                            required: true
                        },
                        maxtransno00: {
                            required: true,
                            number: true
                        },
                        maxtransamt00: {
                            required: true,
                            number: true
                        },
                        tottransamt00: {
                            required: true,
                            number: true
                        },
                        maxtransno01: {
                            required: true,
                            number: true
                        },
                        maxtransamt01: {
                            required: true,
                            number: true
                        },
                        tottransamt01: {
                            required: true,
                            number: true
                        },
                        maxtransno02: {
                            required: true,
                            number: true
                        },
                        maxtransamt02: {
                            required: true,
                            number: true
                        },
                        tottransamt02: {
                            required: true,
                            number: true
                        }
                    },
                    messages: {
                        limit_desc: {
                            required: "Enter Package Name to continue"
                        },
                        maxtransno00: {
                            required: "Enter Combined Max Trans No to continue",
                            number: "Enter Numeric Number"
                        },
                        maxtransamt00: {
                            required: "Enter Combined Maximun Trans Amount to continue",
                            number: "Enter Numeric Number"
                        },
                        tottransamt00: {
                            required: "Enter Combined Total Trans Amount to continue",
                            number: "Enter Numeric Number"
                        },
                        maxtransno01: {
                            required: "Enter Deposit Max Trans No to continue",
                            number: "Enter Numeric Number"
                        },
                        maxtransamt01: {
                            required: "Enter Deposit Maximun Trans Amount to continue",
                            number: "Enter Numeric Number"
                        },
                        tottransamt01: {
                            required: "Enter Deposit Total Trans Amount to continue",
                            number: "Enter Numeric Number"
                        },
                        maxtransno02: {
                            required: "Enter Withdraw Max Trans No to continue",
                            number: "Enter Numeric Number"
                        },
                        maxtransamt02: {
                            required: "Enter Withdraw Maximun Trans Amount to continue",
                            number: "Enter Numeric Number"
                        },
                        tottransamt02: {
                            required: "Enter Withdraw Total Trans Amount to continue",
                            number: "Enter Numeric Number"
                        }
                    }

                });
            };
            var hideShow = function (isStart)
            {
                if (isStart)
                {
                    $('#btnAfterSubmit').hide();
                    $('#btnBeforeSubmit').show();
                    $('input[type="text"]').each(function ()
                    {
                        $(this).removeAttr('readonly');
                    });
                } else
                {
                    $('#btnAfterSubmit').show();
                    $('#btnBeforeSubmit').hide();
                    $('input[type="text"]').each(function ()
                    {
                        $(this).attr('readonly', 'readonly');
                    });
                }
            };
            return { init: init };
        }();

        classLimitSetup.init();
    </script>
}
