@model EasyAssetManagerCore.Models.EntityModel.LimitPackage
@{
    ViewData["Title"] = "Limit Package View";
}
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">

            <div class="ibox">
                <div class="ibox-title">
                    <h5> Limit Package View</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row form-group">
                                <div class="col-lg-5">
                                    <div class="form-group row">
                                        <div class="col-xl-12">
                                            <h3 class="col-form-label">Limit Details</h3>
                                        </div>
                                    </div>
                                    <div class="form-group hr-line-dashed"> </div>
                                    <div class="form-group row">
                                        <input type="hidden" id="limit_id" name="limit_id" class="form-control form-element" value="@Model.limit_id" />
                                        <div class="col-xl-6">
                                            <label class="col-form-label">Package Name:</label>
                                        </div>
                                        <div class="col-xl-6">
                                            <input type="text" id="limit_desc" name="limit_desc" class="form-control form-element required" value="@Model.limit_desc" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xl-6">
                                            <label class="col-form-label">Remarks:</label>
                                        </div>
                                        <div class="col-xl-6">
                                            <input type="text" id="remarks" name="remarks" class="form-control form-element" value="@Model.remarks" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xl-12">
                                            <h3 class="col-form-label"> Deposit Limit</h3>
                                        </div>
                                    </div>
                                    <div class="form-group hr-line-dashed"> </div>
                                    <div class="form-group row">
                                        <div class="col-xl-6">
                                            <label class="col-form-label">Maximum Allowed Transaction:</label>
                                        </div>
                                        <div class="col-xl-6">
                                            <input type="text" id="maxtransno01" name="maxtransno01" class="form-control form-element required" value="@Model.maxtransno01" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xl-6">
                                            <label class="col-form-label">Max Allowed Amount Per Transaction:</label>
                                        </div>
                                        <div class="col-xl-6">
                                            <input type="text" id="maxtransamt01" name="maxtransamt01" class="form-control form-element required" value="@Model.maxtransamt01" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xl-6">
                                            <label class="col-form-label">Total Allowed Amount:</label>
                                        </div>
                                        <div class="col-xl-6">
                                            <input type="text" id="tottransamt01" name="tottransamt01" class="form-control form-element required" value="@Model.tottransamt01" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xl-12">
                                            <h3 class="col-form-label">Fund Transfer Limit</h3>
                                        </div>
                                    </div>
                                    <div class="form-group hr-line-dashed"> </div>
                                    <div class="form-group row">
                                        <div class="col-xl-6">
                                            <label class="col-form-label">Maximum Allowed Transaction:</label>
                                        </div>
                                        <div class="col-xl-6">
                                            <input type="text" id="maxtransno05" name="maxtransno05" class="form-control form-element" value="@Model.maxtransno05" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xl-6">
                                            <label class="col-form-label">Total Allowed Amount:</label>
                                        </div>
                                        <div class="col-xl-6">
                                            <input type="text" id="tottransamt05" name="tottransamt05" class="form-control form-element" value="@Model.tottransamt05" />

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xl-6">
                                            <label class="col-form-label">Max Allowed Amount Per Transaction:</label>
                                        </div>
                                        <div class="col-xl-6">
                                            <input type="text" id="maxtransamt05" name="maxtransamt05" class="form-control form-element" value="@Model.maxtransamt05" />
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="vertical-line vertical-line-border">
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="form-group row">
                                        <div class="col-xl-12">
                                            <h3 class="col-form-label"> Total Limit</h3>
                                        </div>
                                    </div>
                                    <div class="form-group hr-line-dashed"> </div>
                                    <div class="form-group row">
                                        <div class="col-xl-6">
                                            <label class="col-form-label">Maximum Allowed Transaction:</label>
                                        </div>
                                        <div class="col-xl-6">
                                            <input type="text" id="maxtransno00" name="maxtransno00" class="form-control form-element required" value="@Model.maxtransno00" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xl-6">
                                            <label class="col-form-label">Total Allowed Amount:</label>
                                        </div>
                                        <div class="col-xl-6">
                                            <input type="text" id="tottransamt00" name="tottransamt00" class="form-control form-element required" value="@Model.tottransamt00" />

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xl-6">
                                            <label class="col-form-label">Max Allowed Amount Per Transaction:</label>
                                        </div>
                                        <div class="col-xl-6">
                                            <input type="text" id="maxtransamt00" name="maxtransamt00" class="form-control form-element required" value="@Model.maxtransamt00" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xl-12">
                                            <h3 class="col-form-label">Withdraw Limit</h3>
                                        </div>
                                    </div>
                                    <div class="form-group hr-line-dashed"> </div>
                                    <div class="form-group row">
                                        <div class="col-xl-6">
                                            <label class="col-form-label">Maximum Allowed Transaction:</label>
                                        </div>
                                        <div class="col-xl-6">
                                            <input type="text" id="maxtransno02" name="maxtransno02" class="form-control form-element required" value="@Model.maxtransno02" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xl-6">
                                            <label class="col-form-label">Total Allowed Amount:</label>
                                        </div>
                                        <div class="col-xl-6">
                                            <input type="text" id="tottransamt02" name="tottransamt02" class="form-control form-element required" value="@Model.tottransamt02" />

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xl-6">
                                            <label class="col-form-label">Max Allowed Amount Per Transaction:</label>
                                        </div>
                                        <div class="col-xl-6">
                                            <input type="text" id="maxtransamt02" name="maxtransamt02" class="form-control form-element required" value="@Model.maxtransamt02" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <script type="text/javascript">
        var classLimitPackageView = function ()
        {
            var init = function ()
            {
                eventInitializer();
            };
            var eventInitializer = function ()
            {
                $('input[type="text"]').each(function ()
                    {
                        $(this).attr('readonly', 'readonly');
                    });
            };

            return { init: init };
        }();

        classLimitPackageView.init();
    </script>
}