@model EasyAssetManagerCore.Models.EntityModel.Remittance
@{
    ViewData["Title"] = "Withdraw Authorize Preview";
    var path = "/RemittancePhoto/" + Model.trans_id + ".jpg";
}

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>Remittance Details From Agent</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <input type="hidden" class="form-control form-element" id="trans_id" name="trans_id" value="@Model.trans_id" />
                        <input type="hidden" class="form-control form-element" id="agent_id" name="agent_id" value="@Model.agent_id" />
                        <input type="hidden" class="form-control form-element" id="outlet_id" name="outlet_id" value="@Model.outlet_id" />
                        <div class="col-lg-12">
                            <div class="form-group row">
                                <div class="col-xl-2">
                                    <label class="col-form-label">Security Code:</label>
                                </div>
                                <div class="col-xl-3">
                                    <input type="text" id="remit_sec_code" name="remit_sec_code" class="form-control form-element" value="@Model.remit_sec_code" />
                                </div>
                                <div class="col-xl-2">
                                    <label class="col-form-label">Receiver Name:</label>
                                </div>
                                <div class="col-xl-3">
                                    <input type="text" id="remit_receiver_name" name="remit_receiver_name" class="form-control form-element" value="@Model.bene_name" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xl-2">
                                    <label class="col-form-label">Receiver Address:</label>
                                </div>
                                <div class="col-xl-3">
                                    <input type="text" id="remit_receiver_address" name="remit_receiver_address" class="form-control form-element" value="@Model.bene_address" />
                                </div>
                                <div class="col-xl-2">
                                    <label class="col-form-label">Receiver Mobile:</label>
                                </div>
                                <div class="col-xl-3">
                                    <input type="text" id="remit_receiver_mobile" name="remit_receiver_mobile" class="form-control form-element" value="@Model.bene_mobile" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xl-2">
                                    <label class="col-form-label">Sender Name:</label>
                                </div>
                                <div class="col-xl-3">
                                    <input type="text" id="remit_sender_name" name="remit_sender_name" class="form-control form-element" value="@Model.remit_sender_name" />
                                </div>
                                <div class="col-xl-2">
                                    <label class="col-form-label">Sender Country:</label>
                                </div>
                                <div class="col-xl-3">
                                    <input type="text" id="remit_sender_country" name="remit_sender_country" class="form-control form-element" value="@Model.remit_sender_country" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xl-2">
                                    <label class="col-form-label">Amount:</label>
                                </div>
                                <div class="col-xl-3">
                                    <input type="text" id="amount" name="amount" class="form-control form-element" value="@Model.amount" />
                                </div>
                                <div class="col-xl-2">
                                    <label class="col-form-label">Remittance Company:</label>
                                </div>
                                <div class="col-xl-3">
                                    <input type="text" id="remarks" name="remarks" class="form-control form-element" value="@Model.remit_comp_name" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xl-2">
                                    <label class="col-form-label">Remarks:</label>
                                </div>
                                <div class="col-xl-3">
                                    <input type="text" id="remarks" name="remarks" class="form-control form-element" value="@Model.remarks" />
                                </div>
                                <div class="col-xl-2">
                                    <label class="col-form-label">Agent:</label>
                                </div>
                                <div class="col-xl-3">
                                    <input type="text" id="agent_name" name="agent_name" class="form-control form-element" value="@Model.agent_name" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xl-2">
                                    <label class="col-form-label">Agent Outlet:</label>
                                </div>
                                <div class="col-xl-3">
                                    <input type="text" id="outlet_name" name="outlet_name" class="form-control form-element" value="@Model.outlet_name" />
                                </div>
                                <div class="col-xl-2">
                                    <label class="col-form-label">Outlet Address:</label>
                                </div>
                                <div class="col-xl-3">
                                    <input type="text" id="address" name="address" class="form-control form-element" value="@Model.address" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xl-2">
                                    <label class="col-form-label">Photo:</label>
                                </div>
                                <div class="col-xl-3">
                                    <img src="@path" id="photo" name="photo" width="120" height="120"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xl-7">
                                </div>
                                <div class="col-xl-3">
                                    <input type="button" value="Authorize Remittance Request" class="btn btn-primary ks-next" id="btnConfirm">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <script type="text/javascript">
        var classWithdrawAuthorizePreview = function () {
            var init = function () {
                eventInitializer();
            };
            var eventInitializer = function () {
                $('input[type="text"]').each(function () {
                    $(this).attr('readonly', 'readonly');
                });
                $('#btnConfirm').click(authorizeWithdraw);
            };
            var authorizeWithdraw = function () {
                var trans_id = $("#trans_id").val();
                var agent_id = $("#agent_id").val();
                var outlet_id = $("#outlet_id").val();
                var formData = new FormData();
                formData.append("trans_id", trans_id);
                formData.append("agent_id", agent_id);
                formData.append("outlet_id", outlet_id);
                var url = '/WithdrawRemittance/AuthorizeRemittance';
                ApplicationCommon.request(url, 'POST', formData, false, true, false, function (res) {
                    ApplicationCommon.showNotification(res.messageType, res.messageString);
                });

            };
            return { init: init };
        }();

        classWithdrawAuthorizePreview.init();
    </script>
}

