@model IEnumerable<EasyAssetManagerCore.Models.EntityModel.WorkflowDetail>
@{
    Layout = null;
}
@if (Model != null && Model.Any())
{
    <table class="table table-striped table-bordered table-hover dataTables-example table-responsive" id="tb-accunathworkflow">
        <thead>
            <tr>
                <th> SL No</th>
                <th> Request Type</th>
                <th> Acc No</th>
                <th> Account Name</th>
                <th> Customer No</th>
                <th> Customer Name</th>
                <th> Mobile</th>
                <th> NID</th>
                <th> Birthdate</th>
                <th> Remarks</th>
                <th> Ins By</th>
                <th> Ins Date</th>
                <th> Authorize</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var v in Model)
            {
                <tr>
                    <td>@v.wf_slno</td>
                    <td>@v.wf_desc</td>
                    <td>@v.cust_ac_no</td>
                    <td>@v.ac_desc</td>
                    <td>@v.cust_no </td>
                    <td>@v.cust_name</td>
                    <td>@v.mobile</td>
                    <td>@v.nid</td>
                    <td>@v.birth_date</td>
                    <td>@v.remarks</td>
                    <td>@v.ins_by</td>
                    <td>@v.ins_date</td>
                    <td>
                        <button type="button" class="btn btn-success gridButton" onclick="authorize('@v.wf_slno','@v.wf_type','@v.wf_desc','@v.cust_no','@v.cust_ac_no','@v.ac_desc','@v.cust_name','@v.father_name','@v.mother_name','@v.birth_date','@v.nid','@v.mobile');" data-id="@v.wf_slno">
                            <i class="fa fa-check"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No record found.</p>
}

<div class="modal fade" id="updateData" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Customer request details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="hf_wftype" name="hf_wftype" class="form-control form-element" />
                    <div class="form-group">
                        <label class="col-form-label">Request ID:</label>
                        <input type="text" id="lblWfSlno" name="lblWfSlno" class="form-control form-element" readonly />

                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Request For:</label>
                        <input type="text" id="lblWfDesc" name="lblWfDesc" class="form-control form-element" readonly />
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Account No:</label>
                        <input type="text" id="lblCustAcNo" name="lblCustAcNo" class="form-control form-element" readonly />
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Account Name:</label>
                        <input type="text" id="lblAcDesc" name="lblAcDesc" class="form-control form-element" readonly>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Customer No:</label>
                        <input type="text" id="lblCustNo" name="lblCustNo" class="form-control form-element" readonly />
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Customer Name:</label>
                        <input type="text" id="lblCustName" name="lblCustName" class="form-control form-element" readonly />
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Father Name:</label>
                        <input type="text" id="lblFatherName" name="lblFatherName" class="form-control form-element" readonly />
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Mother Name:</label>
                        <input type="text" id="lblMotherName" name="lblMotherName" class="form-control form-element" readonly>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Birth Date:</label>
                        <input type="text" id="lblBirthDate" name="lblBirthDate" class="form-control form-element" readonly />
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Customer NID:</label>
                        <input type="text" id="lblNid" name="lblNid" class="form-control form-element" readonly />
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Customer Mobile:</label>
                        <input type="text" id="lblMobile" name="lblMobile" class="form-control form-element" readonly />
                    </div>

                    <hr />
                    <h4> Reference details</h4>
                    <hr />
                    <div class="form-group">
                        <label class="col-form-label" id="lblWfRefNo">Fixed Deposit Account No:</label>
                        <input type="text" id="txtWfRefNo" name="txtWfRefNo" class="form-control form-element" onkeyup="GetServiceReferenceDtl()" />
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Account Name:</label>
                        <input type="text" id="lblWfAcName" name="lblWfAcName" class="form-control form-element" readonly />
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Customer Mobile:</label>
                        <input type="text" id="lblWfMobileNo" name="lblWfMobileNo" class="form-control form-element" readonly />
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Remarks:</label>
                        <textarea id="txtResponseDtl" name="txtResponseDtl" class="form-control form-element"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <input type="button" value="Authorize" class="btn btn-primary ks-next" onclick="classServiceRequestSearch.submitAuthorize()">
                <input type="button" value="Close" class="btn btn-danger ks-next" data-dismiss="modal" id="btnClose">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        ApplicationCommon.makePagination("tb-accunathworkflow");

        var rowCount = $('#tb-accunathworkflow >tbody >tr').length;
        if (rowCount > 0) {
            $("#sidebarCollapse").addClass('fa-chevron-down').removeClass('fa-chevron-up');
            $("#divsidebarCollapse").addClass('border-bottom');
            $('#sidebarContent').css('display', 'none');
        }
    });

    function authorize(wf_slno, wf_type, wf_desc, cust_no, cust_ac_no, ac_desc,cust_name, father_name, mother_name, birth_date, nid, mobile)
    {
     $('#updateData').modal('show');
        $("#hf_wftype").val(wf_type);
        //$("#hf_wfslno").val(wf_slno);
        $("#lblWfSlno").val(wf_slno);
        $("#lblCustNo").val(cust_no);
        $("#lblWfDesc").val(wf_desc);
        $("#lblCustAcNo").val(cust_ac_no);
        $("#lblAcDesc").val(ac_desc);
        $("#lblCustName").val(cust_name);
        $("#lblFatherName").val(father_name);
        $("#lblMotherName").val(mother_name);
        $("#lblBirthDate").val(birth_date);
        $("#lblNid").val(nid);
        $("#lblMobile").val(mobile);

        $("#txtWfRefNo").val("");
        $("#lblWfCustName").val("");
        $('#lblWfMobileNo').val("");
        $("#txtResponseDtl").val("");

        if (wf_type == "01")
            $("#lblWfRefNo").text("DPS Account No");
        else if (wf_type == "02")
            $("#lblWfRefNo").text("Term Deposite Account No");
        else if (wf_type == "07"||wf_type == "09")
            $("#lblWfRefNo").text("Card No");
        else
            $("#lblWfRefNo").text("Account No");
    }
    function GetServiceReferenceDtl(){

     var wf_type = $("#hf_wftype").val()
        var wfslno = $("#lblWfSlno").val()
        var wf_ref_no = $("#txtWfRefNo").val();

        if (wf_ref_no.length >= 13) {
                 var formData = new FormData();
                formData.append("wfslno", wfslno);
                formData.append("wf_ref_no", wf_ref_no);
                formData.append("wf_type", wf_type);
                var url = '/ServiceRequest/GetServiceReferenceDtl';
            ApplicationCommon.request(url, 'POST', formData, false, true, false, function (res) {
                debugger;
                   if (res.message.messageType==1) {
                        $("#lblWfAcName").val(res.customer_name);
                        $('#lblWfMobileNo').val(res.mobile_number);
                    }
                    else {
                       $("#lblWfAcName").val("");
                       $('#lblWfMobileNo').val("");
                 ApplicationCommon.showNotification(res.message.messageType, res.message.messageString);
                    }
                });
        }
        else {
            $("#lblWfAcName").val("");
            $('#lblWfMobileNo').val("");
        }
    }

</script>
