@{
    var appSession = ViewBag.Session as EasyAssetManagerCore.Model.CommonModel.AppSession;
}
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            @*<li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="image" class="rounded-circle" src="~/ApplicationTheme/Images/profile_small.jpg" />
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">@appSession.User.user_name</span>
                        <span class="text-muted text-xs block">@appSession.User.address<b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs" style="position: absolute; top: 91px; left: 0px; will-change: top, left;">
                        <li><a class="dropdown-item" href="@Url.Action("Profile", "AppViews")">Profile</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("Contacts", "AppViews")">Contacts</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("Inbox", "Mailbox")">Mailbox</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="@Url.Action("Index", "Login")">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                   
                </div>
            </li>*@

            @if (appSession != null && appSession.Screens != null)
            {
                @foreach (var parentScreen in appSession.Screens.Where(o => o.scr_parent_id == null))
                {

                    string className = "";
                    switch (parentScreen.scr_id)
                    {
                        case "10000":
                            className = "fa fa-th-large";
                            break;
                        case "20000":
                            className = "fa fa-diamond";
                            break;
                        case "30000":
                            className = "fa fa-bar-chart-o";
                            break;
                        case "40000":
                            className = "fa fa-pie-chart";
                            break;
                        case "50000":
                            className = "fa fa-edit";
                            break;
                        case "60000":
                            className = "fa fa-flask";
                            break;
                        case "70000":
                            className = "fa fa-laptop";
                            break;
                        default:
                            className = "fa fa-table";
                            break;
                    }
                    <li id="@parentScreen.scr_id">
                        <a href="#">
                            <i class="@className"></i>
                            <span class="nav-label" data-i18n="nav.@parentScreen.scr_id">@parentScreen.scr_name</span> <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level collapse" id="ul_@parentScreen.scr_id">
                            @foreach (var firstChildscreen in appSession.Screens.Where(o => o.scr_parent_id == parentScreen.scr_id))
                            {
                                var templastChildscreen = appSession.Screens.Where(o => o.scr_parent_id == firstChildscreen.scr_id);
                                if (templastChildscreen != null && templastChildscreen.Any())
                                {
                                    @foreach (var lastChildscreen in templastChildscreen)
                                    {
                                        <li class="menuAction" id="@lastChildscreen.scr_id"><a href="@lastChildscreen.scr_link">@lastChildscreen.scr_name</a></li>
                                    }
                                }
                            }
                        </ul>
                    </li>
                }
            }


            @*@{
                    int i = 0;
                }
                @for (i = 0; i < 5; i++)
                {
                    string className = "";
                    switch (i)
                    {
                        case 0:
                            className = "fa fa-th-large";
                            break;
                        case 1:
                            className = "fa fa-diamond";
                            break;
                        case 2:
                            className = "fa fa-bar-chart-o";
                            break;
                        case 3:
                            className = "fa fa-pie-chart";
                            break;
                        case 4:
                            className = "fa fa-edit";
                            break;
                        case 5:
                            className = "fa fa-flask";
                            break;
                        case 6:
                            className = "fa fa-laptop";
                            break;
                        default:
                            className = "fa fa-table";
                            break;
                    }

                    if (i == 0)
                    {
                        <li id="@i">
                            <a href="#">
                                <i class="@className"></i>
                                <span class="nav-label" data-i18n="nav.@i">Dashboard</span> <span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-second-level collapse" id="@i+1">
                                @for (var j = 0; j < 2; j++)
                                {
                                    <li class="menuAction" id="j_@j"><a href="@Url.Action("Index", "Home")">Dashboard v.1</a></li>

                                }
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li id="@i">
                            <a href="#">
                                <i class="@className"></i>
                                <span class="nav-label" data-i18n="nav.@i">Deposit</span> <span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-second-level collapse" id="@i+1">
                                @for (var j = 0; j < 2; j++)
                                {
                                    <li class="menuAction" id="k_@i@j"><a href="@Url.Action("Index", "Deposit")">Deposit</a></li>

                                }
                            </ul>
                        </li>
                    }

                }*@

        </ul>
    </div>
</nav>
